$primary-color: #292a40; 
$primary-oposite-color: #fff;
$secondary-color: #959595;
$secondary-oposite-color: #333;
$card-color: #ececec;
$card-oposite-color:#212529;

$alert-color: #962929;
$success-color: #47562b;