<div class="row">
  <div class="col-sm-12">

    <h2>Customers</h2>
    <h6>List of the customers</h6>




    <div class="card shadow">
      <div class="card-body">

        <div class="row">

          <div class="col-sm col-md-4" *ngFor="let customer of customers.cards">



            <!-- 
                  
                  <tr *ngFor="let customer of customers.cards">
                    <td class="text-center"><i class="material-icons" [ngClass]="customer.type === 1 ? 'small' : ''">person</i></td>
                    <td><strong>{{customer.name}}</strong></td>
                    <td class="d-none d-lg-table-cell">{{customer.country}}</td>
                    <td class="d-none d-lg-table-cell"><a href="{{customer.websiteUrl}}" target="_blank">{{customer.websiteUrl}}</a></td>
                    <td class="d-none d-lg-table-cell">{{customer.contractExpiryDate.replace(' ','') | date}}</td>
                    <td><a routerLink="/details/{{customer._id}}" class="p-3"><i class="material-icons" title="more">more_horiz</i></a></td>
                  </tr>
-->

            <div class="card">
              <img src="{{customer.imageUrl}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{customer.name}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a href="/details/{{customer.id}}" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>






          </div>
        </div>
      </div>
    </div>



  </div>

</div>