<app-modal *ngIf="modal" [pokeId]="id" (closeModal)="closedModal()"></app-modal>

<div class="filters  pt-15">
  <div class="container">

    <div class="row">
      <div class="col-auto">
        <material-select (paramsSearch)="paramsSearch($event)"></material-select>
      </div>
      <div class="col-auto">
        <material-input (paramsSearch)="paramsSearch($event)"></material-input>
      </div>

    </div>


  </div>


</div>
<div id="infinite-scroller" appInfiniteScroller scrollPercent="90" immediateCallback="true"
  [scrollCallback]="scrollCallback" [spinner]="spinner">

  <div class="container py-2">

    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let item of pokemons">

        <app-card [data]="item" (showModalClick)="showModal($event)"></app-card>

      </div>
    </div>
    <div class="lds-ellipsis mx-auto zi-2 p-r" *ngIf="spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="text-center py-4 zi-2 p-r" *ngIf="!spinner">
      <p>...That's all I have :(</p>
    </div>
  </div>
</div>