@import './src/variables';

#infinite-scroller {
    height: 100%;
    width: 100%;
    
    padding: 0;
    position: absolute;
    top:0;
    left:0;
    overflow-y: scroll;
  
  }  

  .card:hover {
    opacity: 0.8;
  }

  .card {
    box-shadow: 3px 3px 10px 0px #cdcdcd;
    cursor:pointer;
  }
  .card-body {
    padding-top:0;
  }



  
  
